body 
	color: white
	background-color: black
	margin: 0
	box-sizing: border-box
	padding: 24px
	width: 100vw
	height: 100vh
	display: flex
	flex-direction: column
	justify-content: center
	max-width: 1080px
	margin: auto

.body

.canvas
	border: 1px solid white

.ui
	margin-top: 14px
	border: 1px solid white
	display: flex
	flex-direction: row
	min-height: 50px

	.textBlock
		flex: 1

	.stats
		display: flex
		flex-direction: column
		min-width: 50px
		border-left: 1px solid white
